html, body {
    height: 100%;
}

nav {
    background: #0f2940;
}

body {
    background: #0e1d23;
}

div.dataTables_wrapper {
    margin-bottom: 3em;
}

.center {
    text-align: center;
}

#content {
    padding: 20px 30px;
    background: #F7F7F7;
    height: 100%;
}

.topic-image {
    width: 100px;
}
