{% extends "base.html" %}
{% block body %}
<h1 class="center">Figures</h1>
<div id="panelGroup" class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 data-toggle="collapse" data-target="#div-count-content" data-parent="#panelGroup">Distribution of stops amongst divisions</h2>
    </div>
    <div id="div-count-content" class="collapse">
      {% include "figure_division_counts.html" %}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 data-toggle="collapse" data-target="#area-race-content" data-parent="#panelGroup">Distribution of race amongst areas</h2>
    </div>
    <div id="area-race-content" class="collapse">
      {% include "figure_area_race.html" %}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 data-toggle="collapse" data-target="#stop-reasons-content" data-parent="#panelGroup">Reasons for police stops</h2>
    </div>
    <div id="stop-reasons-content" class="collapse">
      {% include "figure_stop_reasons.html" %}
    </div>
  </div>
</div>
{% endblock %}
