{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('table.display').DataTable();
  } );
</script>
{% endblock %}

{% block body %}
<h1>Filter Data</h1>
<div>
    {% block filters %}
    {% endblock %}
</div>

<br>

<div>
  <table class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
	{% for row in table_head %}
  	{% for data in row %}
	<th>
  	  {{ data }}
	</th>
  	{% endfor %}
	{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in table_data %}
      <tr>
  	{% for data in row %}
	<td>
  	  {{data}}
	</td>
  	  {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
