{% extends "filter_data.html" %}

{% block filters %}
<div>
  <form action="/filter_data/offender">
    Gender:
    <select name="Gender">
      <option value="All">All</option>
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>

    <br><br>

    Ethnicity:
    <select name="Ethnicity" multiple="true">
      <option selected="true" value="ALL">All</option>
      {% for e in ethnicities %}
      {% for data in e %}
      <option value="{{data}}">{{data}}</option>
      {% endfor %}
      {% endfor %}
    </select>
    

    <br><br>

    <input type="submit"></input>

    <br><br>

    <input name="get_previous_results" type="submit" value="Get Previous 5000: {{counter}}"></input>
    <input name="get_next_results" type="submit" value="Get Next 5000: {{counter + 1}}"></input>
  </form>
</div>

<br>
{% endblock %}
