{% extends "filter_data.html" %}

{% block filters %}
<div style="width:30%">
  <form action="/filter_data/officer">
    <label for="region">Region:</label>
    <select id="region" class="form-control" name="Region" multiple="true">
      <option value="All">All</option>
      {% for r in regions %}
      {% for data in r %}
      <option value="{{data}}">{{data}}</option>
      {% endfor %}
      {% endfor %}
    </select>

    <br>
    
    <input type="submit" class="btn btn-primary"></input>
  </form>
</div>
{% endblock %}
