{% extends "filter_data.html" %}

{% block filters %}
<div style="width:30%">
  <form action="/filter_data/police_stops">
     <label for="begin">From:</label>
    <select id="begin" class="form-control" name="begin-month">
      <option selected="true" value="2015-JAN-01">January</option>
      <option value="2015-FEB-01">February</option>
      <option value="2015-MAR-01">March</option>
      <option value="2015-APR-01">April</option>
      <option value="2015-MAY-01">May</option>
      <option value="2015-JUN-01">June</option>
      <option value="2015-JUL-01">July</option>
      <option value="2015-AUG-01">August</option>
      <option value="2015-SEP-01">September</option>
      <option value="2015-OCT-01">October</option>
      <option value="2015-NOV-01">November</option>
      <option value="2015-DEC-01">December</option>
    </select>

    <label for="end">To:</label>
    <select id="end" class="form-control" name="end-month">
      <option value="2015-JAN-31">January</option>
      <option value="2015-FEB-28">February</option>
      <option value="2015-MAR-31">March</option>
      <option value="2015-APR-30">April</option>
      <option value="2015-MAY-31">May</option>
      <option value="2015-JUN-30">June</option>
      <option value="2015-JUL-31">July</option>
      <option value="2015-AUG-31">August</option>
      <option value="2015-SEP-30">September</option>
      <option value="2015-OCT-31">October</option>
      <option value="2015-NOV-30">November</option>
      <option selected="true" value="2015-DEC-31">December</option>
    </select>

    <br>
    
    <label for="type">Type:</label>
    <select id="type" class="form-control" name="Type">
      <option value="All">All</option>
      <option value="VEH">Vehicle</option>
      <option value="PED">Pedestrian</option>
    </select>

    <br>

    <input type="submit" class="btn btn-primary"></input>

    <br><br>

    <input name="get_previous_results" type="submit" class="btn" value="Get Previous 5000: {{counter}}"></input>
    <input name="get_next_results" type="submit" class="btn" value="Get Next 5000: {{counter + 1}}"></input>
    
  </form>
</div>

<br>
{% endblock %}
