{% extends "base.html" %}
{% block body %}
<h1>test page</h1>
<div>
  <h3>some testing stuff:</h3>
  <button id="createSchema" type="button" class="btn btn-default">create schema</button>
  <button id="insertOfficers" type="button" class="btn btn-default">insert officers</button>
  <button id="insertStops" type="button" class="btn btn-default">insert police stops</button>
  <button id="insertOffenders" type="button" class="btn btn-default" disabled>insert offenders</button>
  <button id="dropTables" type="button" class="btn btn-default">drop tables</button>
</div>
<div>
  <h3>some (all) tables:</h3>
  <ol>
  {% for row in results %}
    <li>{{ row[0] }}</li>
  {% endfor %}
  </ol>
</div>
{% endblock %}
